# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ Data Science Tools
+ Examples of arithmetic expressions in python

 Some of the popular languages that Data Scientists use are:

 <ol><li>Python</li><li>R</li><li>SQL</li></ol>

 Some of the commonly used libraries  used by Data Scientists include:
 <ol><li>NumPy</li><li>Pandas</li><li>Matplotlib</li></ol>

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Rstudio |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Sanika C S